

.header{
    font-family: DM Serif Display, serif;
    font-weight: 900;
    font-size: 90px;
    text-align: center;
}

.sub-head{
    font-family: DM Serif Display, serif;
    text-align: center;
    font-size: 25px;
    font-weight: 750;
    font-style: normal;
    
}